<div class="rvt-card">
  <div class="rvt-card__body">
    <h2 class="rvt-card__title">
      <a id="contact" href="#top">Summary</a>
    </h2>
    <div class="rvt-card__content [ rvt-flow ]">
      <%= @config.summary %>
    </div>
  </div>
</div>
<a class="rvt-button" href="#top">Top</a>
