<% if @config.respond_to?("volunteer") %>
  <div class="rvt-card">
    <div class="rvt-card__body">
      <h2 class="rvt-card__title">
        <a id="volunteer" href="#top">Volunteer</a>
      </h2>
      <% @config.volunteer.each do |volunteer| %>
        <div class="rvt-card__content [ rvt-flow ]">
          <h3><%= volunteer["Role"] %></h3>
          <div><%= volunteer["Entity"] %></div>
          <ul>
            <% volunteer["Details"].each do |detail| %>
              <li><%= detail %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <a class="rvt-button" href="#top">Top</a>
<% end %>
